.vs/AlisffmpegWraper/v14/.suo
AlisffmpegWraper/bin/Debug/AlisffmpegWraper.vshost.exe
AlisffmpegWraper/bin/Debug/AlisffmpegWraper.vshost.exe.manifest
AlisffmpegWraper/obj/
AlisffmpegWraper/bin/Debug/AlisffmpegWraper.pdb
AlisffmpegWraper/bin/Debug/AlisffmpegWraper.exe
